body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    color: black;
}

.navbar {
    margin-bottom: 0;
    background-color: grey;
    color: white; 
    border: 1px black solid;
    padding: 20px;
}


.nav .navbar-nav {
    width: 100%;
}
.navbar-default .navbar-brand {
    color: black;
    font-size: 40px;

}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 20px;
}


.row {
    margin: 5px;
    background-color: grey; 
    color: black; 
    font-size: 35px;   
}

.text-center h1 {
    color: black; 
}
